.div1{
    
    background: fixed;
    background-image: url(D:\baitapcuathao\image\background1.jpg);
   
}
.tieude{
    position:absolute;
    top:100px;
    left:860px;
    color: rgb(244, 250, 250);
    font-size: 45px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.thanhvien{
    position:absolute;
    top:280px;
    left:890px;
    color: rgb(244, 250, 250);
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.slogan{
    position:absolute;
    top:200px;
    left:920;
    color: rgb(244, 250, 250);
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.congs{
    position:absolute;
    top:400;
    left:800;
}
.cong{
    position:absolute;
    top:485;
    left:820;
}
.huys{
    position:absolute;
    top:850;
    left:800;
}
.huy{
    position:absolute;
    top:994;
    left:820;
}
.kiens{
    position:absolute;
    top:400;
    left:1150;
}

.kien{
    position:absolute;
    top:453;
    left:1190;}

.thaos{
    position:absolute;
    top:850;
    left:1150;}

    .thao{
        position:absolute;
        top:930;
        left:1190;}
    
.nut1{
    position:absolute;
    top:700;
    left:850;
    background-color: rgb(114, 178, 189);
    color: aliceblue;
    border-width: 0px!important;
    border-radius: 13px;
    letter-spacing: 1px;
    font-size: 20px;
    padding-top:5px;
    padding-bottom:5px;

}

.nut2{
    position:absolute;
    top:1153;
    left:860;
    background-color: rgb(114, 178, 189);
    color: aliceblue;
    border-width: 0px!important;
    border-radius: 13px;
    letter-spacing: 1px;
    font-size: 20px;
    padding-top:5px;
    padding-bottom:5px;

}

.nut3{
    position:absolute;
    top:700;
    left:1214;
    background-color: rgb(114, 178, 189);
    color: aliceblue;
    border-width: 0px!important;
    border-radius: 13px;
    letter-spacing: 1px;
    font-size: 20px;
    padding-top:5px;
    padding-bottom:5px;

}

.nut4{
    position:absolute;
    top:1153;
    left:1210;
    background-color: rgb(114, 178, 189);
    color: aliceblue;
    border-width: 0px!important;
    border-radius: 13px;
    letter-spacing: 1px;
    font-size: 20px;
    padding-top:5px;
    padding-bottom:5px;

}

.nut1:hover{
    background-color: brown;
}

.nut2:hover{
    background-color: brown;
}
.nut3:hover{
    background-color: brown;
}
.nut4:hover{
    background-color: brown;
}

.hoa{
    position: absolute;
    top:1350;
}
.mes{
    position: absolute;
    top:1390;
    left:430;
}

.h1{
    position: absolute;
    left:530px;
    top:1480px;
    
}
.hoten input{
    position: absolute;
    left:530px;
    top:1500px;
    width: 15%;
    resize: none;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}

.e2{
    position: absolute;
    left:530px;
    top:1540px;
    
}
.email input{
    position: absolute;
    left:530px;
    top:1560px;
    width: 15%;
    resize: none;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}

.s3{
    position: absolute;
    left:530px;
    top:1600px;
    
}
.sdt input{
    position: absolute;
    left:530px;
    top:1620px;
    width: 15%;
    resize: none;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}

.l4{
    position: absolute;
    left:860px;
    top:1470px;
    
}
.loinhan textarea{
    position: absolute;
    left:860px;
    top:1500px;
    width: 10%;
    resize: none;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}

.nut input{
    position: absolute;
    left:900px;
    top:1620px;
    cursor: pointer;
     background: #0f3959;
     color: #fff;
     border:none;
     max-width: 250px;
     padding: 12px;
     width: 5%;
}

.nut input:hover{
    background: brown;;
}
